/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height:300px;
    position: relative;
}
.col{
  width: 300px;
  height: 300px;
  border-style:solid;
  border-width: 5px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}


.main{
  width: 85%;
  height: 300px;
  background-color:#6885CE;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
}
nav {

}
nav li{
  display: inline;
  color:#E6E9ED;
  padding: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 22px;
  font-size: 18px;
}
.comp-top{
  text-align: center;
}
.comp-top li{
  padding: 60px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 0px;
}
.mobile-top{
  margin-top: 50px;;
}
.mobile-top li{
  padding: 10px;
  list-style-type: none;
}
article{
  -webkit-animation-duration: .2s;
  -webkit-animation-delay: .2s;
  -webkit-animation-iteration-count: one;
}
.template {
  display: none;
}

.byline {
  color: black;
  font-family: 'Dosis', sans-serif;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

/*Project display box*/

#projects {
  margin:auto;
  width: 80%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*About me*/
#aboutMe{
  text-align: center;
}
/*Comp view for main nav*/
@media only screen and (min-width: 1200px) {
  .mobile-top {
    display: none;
  }
}
/*Mobile view for main nav*/
@media only screen and (max-width: 1200px) {
  .comp-top{
    display: none;
  }
}
/*Mobile about me margin*/
@media only screen and (max-width: 1000px) {
  #aboutMe p{
    margin-left: 3px;
    margin-right: 3px;
  }
}
