body{
  /*background-color: #D7DBE8;*/
  background-image: url('https://media.giphy.com/media/vxcuu6bLZDdm0/giphy.gif');
}
.pic{
  float: left;
  height: 165px;
  width: 175px;
  background-color: #F5F7FA;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 35px;
  background-image: url('https://media.giphy.com/media/xTcnSWYZvafyhEACBO/giphy.gif');
  background-size: 100%;
  background-repeat: no-repeat;
}

i{
  color: #F5F7FA;
  -webkit-animation-duration: .2s;
  -webkit-animation-delay: .2s;
  -webkit-animation-iteration-count: one;
}
i:hover{
  color:#AAB2BD;
}

.myName{
  float: right;
  color:white;
  font-family: 'Dosis', sans-serif;
  font-size: 26px;
  margin-right: 30px;
}

.comp-top i{
  font-size: 130px;
  text-align: center;
}
.comp-top h1 {
  font-size: 50px;
  color:white;
}

h1 {
  color:white;
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
}
p{
  color:white;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

#projects{
  background-color: #2A2D34;
  padding: 20px;
}
.aboutMe {
}
#aboutMe h1{
  color:black;
  font-size: 30px;
}
#aboutMe p{
  margin-left: 150px;
  margin-right: 150px;
  font-size: 20px;
  background-color: #2A2D34;
  border-width: 5px;
  border-color:#3A3F44;
  border-style: outset;
  padding: 20px;
}
.type-it{
  font-size: 24px;
  color:white;
  float: right;
  margin-right: 50px;
  font-family: 'Dosis', sans-serif;
}
