body{
  background-color: #E6E9ED;
}
.pic{
  float: left;
  height: 200px;
  width: 175px;
  background-color: #F5F7FA;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 40px;
}

i{
  color: #F5F7FA;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: one;
}
/*
.bar{
  float: right;
  width: auto;
  height: auto;
  background-color:#434A54;
  margin-right:25px;
  margin-top:25px;
  text-align: center;
}
#one{
  width: 250px;
  height: 200px;
  background-color: #F5F7FA;
  display: inline-block;
  margin-right: 50px;
  text-align: center;
  position: relative;
}
#one:hover{
	-webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px #48CFAD
}
#two:hover{
	-webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px #48CFAD
}
#three:hover{
	-webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px #48CFAD
}

#two{
  width: 250px;
  height: 200px;
  background-color: #F5F7FA;
  display: inline-block;
  margin-right: 50px;
  text-align: center;
  position: relative;
}
#three{
  width: 250px;
  height: 200px;
  background-color: #F5F7FA;
  display: inline-block;
  margin-right: 50px;
  text-align: center;
  position: relative;
}
#one p{
  position: absolute;
  left:95px;
  top:110px;
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: one;
}
#two p{
  position: absolute;
  left:90px;
  top:110px;
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: one;
}
#three p{
  position: absolute;
  left:95px;
  top:105px;
  font-size: 22px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: one;
}

#one i{
  position: absolute;
  color:#434A54;
  left: 80px;
  top: 50px;
}
#two i{
  position: absolute;
  color:#434A54;
  left: 80px;
  top: 50px;
}
#three i {
  position: absolute;
  color:#434A54;
  left: 90px;
  top: 50px;
}
*/

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*project box stlyes*/

h1 {
  color:black;
  font-family: 'Dosis', sans-serif;
}
p{
  color:black;
  font-family: 'Dosis', sans-serif;
}
