body{
  background-color: #E6E9ED;
}
.pic{
  float: left;
  height: 165px;
  width: 175px;
  background-color: #F5F7FA;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 35px;
  background-image: url('images/me.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

i{
  color: #F5F7FA;
  -webkit-animation-duration: .2s;
  -webkit-animation-delay: .2s;
  -webkit-animation-iteration-count: one;
}

.comp-top i{
  font-size: 130px;
}
.comp-top h1 {
  font-size: 90px;
  color:white;
}

h1 {
  color:black;
  font-family: 'Dosis', sans-serif;
}
p{
  color:black;
  font-family: 'Dosis', sans-serif;
}

#aboutMe p{
  margin-left: 150px;
  margin-right: 150px;
  font-size: 20px;
}
